
* {
  border: 22px, solid, black;
}

.body-container{


}

.main-content {
padding-top: 50px
}
test {
  color: aquamarine
}

.plo {
  margin-top: 39px;
  background-image: url('https://cdn.pixabay.com/photo/2014/05/02/23/46/new-york-city-336475_1280.jpg');
  color: white;
  filter: brightness(1);
  background-size: cover;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2014/12/30/08/11/parquet-583691_1280.jpg');
  height: 500px;

    width: 100%;
    background-repeat: no-repeat;

    background-position: center center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;

    -o-background-size: cover;
    background-size: cover;
}
.pannel-color{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
}

.side-p {
  font-size: 30px
}

.copyrights{
  font-size: 20px;
}